<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the relevant people behind the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>